// bower:scss
@import "bower_components/reset-css/_reset.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin,latin-ext);


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin grad($color, $amount) {
    background-image: -webkit-linear-gradient(bottom, $color 25%, lighten($color, $amount) 75%);
    background-image: -moz-linear-gradient(bottom, $color 25%, lighten($color, $amount) 75%);
    background-image: linear-gradient(bottom, $color 25%, lighten($color, $amount) 75%);
}


html {
    @include grad(#000, 90%);
	background-size: cover;
	height: 100%;
}
body {
	width: 50em;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header,
article,
footer {
    background-color: #eeeeee;
    width: 640px;
    border: 1px solid #000000;
    margin-bottom: 4px;
    padding: 8px;
    @include border-radius(8px);
        h1 {
          font-family: 'Yanone Kaffeesatz', sans-serif;
          text-align: center;
          font-size: 24px;
        }
}

nav {
    width: 640px;
    clear: left;
    float: left;
    overflow: hidden;
    ul {
        height: 40px;
        clear: left;
        float: left;
        position: relative;
        left: 50%;
        text-align: center;
    }
    li {
        float: left;
        position: relative;
        right: 50%;
    }
    a {
        @include border-radius(4px);
        display: block;
        line-height: 30px;
        padding: 0 20px 0 20px;
        margin: 0 4px 0 4px;
        @include grad(#0000ff, 30%);
        color: #ffffff;
        text-decoration: none;
        border: 2px outset #ffffff;
    }
    a:hover {
        @include grad(#ff0000, 30%);
    }
}
            
article {
  float: left;
  line-height: 140%;
    img {
      @include border-radius(4px);
      float: right;
      border: 2px solid #000;
      margin-left: 8px;
    }
    h2 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 21px;
      line-height: 140%;
    }
    h3 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 19px;
      line-height: 140%;
      margin-top: 8px;
    }
    p {
      margin-bottom: 12px;
    }
}

footer {
  float: left;
  text-align: center;
}

